/*@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');


html{ 
    /*font-family: "Merienda", cursive;*/
    /*font-family: "Libre Caslon Display", serif;*/
    font-family: "Kreon", serif;
    
  
}
     
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    /*background-color: #7D1C4A;*/
    /*background-color: #5D1451;*/
    /*background-color: #FFF5A5;*/
    /*background-color: #F5CEBE;*/
    /*background-color: #A7727D;*/
    /*background-color: #FFF29C;*/
    /*background-color: #fff263;*/
    /*background-color: #A64D79;*/
    
}

/*Title Section*/
#title{
    background-image: url(https://github.com/lydia-atieno/ForeverLydia/blob/master/pics/1.jpg?raw=true);
    background-size: cover;
    position: relative;
    opacity: .7;
    background-position: center;
    z-index: 1;
    overflow: hidden;
}
#title::after{
    content: '';
    position: absolute;
    background-color: black;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    z-index: -1;
}
#title h1{
    position: ;
    z-index: ;
    letter-spacing: .1rem;
    color: yellow;
    font-weight: ;
    font-family: "Cormorant Upright", serif;
}
#title h2{
    color: yellow;
    font-weight: ;
    font-family: "Cormorant Upright", serif;
}
#title p{
    color: yellow;
    font-size: 1.4rem;
    max-width: 250px;
}
/*End Title Section*/

/*Products Section*/
#products{
    /*height: 110vh;
    margin-top: 100px;
    /*background-color: #7D1C4A;*/
    /*background-color: #5D1451;*/
    /*background-color: #FFF5A5;*/
    /*background-color: #F5CEBE;*/
    /*background-color: #A7727D;*/
    
    /*background-color: #fff263;*/
    /*background-color: #A64D79;*/
}
#products .container{
    background-color: #FFF29C;
    min-height: 100vh;
    width: 100%;
}

#products h1{
    font-weight: 400;
    margin-top: 28px;
}
#products .product-item{
    display: flex;
    margin-top: 10px;
    
}
#products .product-item .imga{
    padding-right: 20px;
    background-color: ;
}
#products .product-item h1{
    font-size: 1rem;
    margin-top: 0px;
    color: black;
}
#products .product-item a{
    text-decoration: none;
}
/*End Products Section*/

/*Supplements Section*/
#supplements .container{
    background-color: #FFF29C;
    min-height: 48vh;
    width: 100%;
}
#supplements h1{
    font-weight: 400;
}
/*End Supplements Section*/

/*Gallery Section*/
#gallery{
    
}
#gallery h1{
    font-weight: 400;
}
#gallery .container{
    background-color: #FFF29C;
    min-height: 28vh;
    width: 100%;
}
#gallery .gallery-items{
    display: flex;
    margin-top: 0px;
}
#gallery .gallery-item img{
    padding-top: 0px;
}
/*End Gallery Section*/

/*Cert Section*/
#cert .container{
    min-height: 50vh;
    background-color: #FFF29C;
    width: 100%;
}
/*End Cert Section*/

/*Get Section*/

#get .container{
    min-height: 30vh;
    background-color: #FFF29C;
    width: 100%;
}
#get h1{
    font-weight: 400;
}
#get p{
    margin-bottom: 20px;
   
}
#get a img{
    border-radius: 30%;
    margin-bottom: 26px;
}
#get form div{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#get span input{
    width: 100%;
    padding: 5px;
    margin: 2px 0 15px 0;
    border: ;
    outline: ;
    border-radius: 5px;
}
#get textarea{
    width: 100%;
    padding: 20px;
    margin-top: 5px;
    border: ;
    outline: ;
    border-radius: 10px;
}
#get button{
    background-color: ;
    padding: 5px 5px;
    margin-top: 20px;
}
#get button:hover{
    background-color: ;
    cursor: pointer;
}
/*End Get Section*/



/*Footer Section*/
#footer{
    background-color: black;
}
#footer .footer{
    flex-direction: column;
    min-height: 28vh;
    padding-top: 20px;
    padding-bottom: 10px;
}
#footer .container h1{
    color: #FFF29C;
    font-size: 1rem;
    margin-top: 50px;
    margin-bottom: 20px;
    letter-spacing: .1rem;
    font-weight: 100;
}
#footer .container h1 span{
    color: ;
}
#footer .container h2{
    color: #FFF29C;
    font-size: 0.8rem;
    font-weight: 100;
    margin-bottom: 5px;
}
#footer .container p{
    color: #FFF29C;
    font-size: 0.6rem;
    font-weight: 100;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item{
    margin: 0 5px;
}
/*End Footer Section*/

/*Media Query For Desktop*/
@media screen and (min-width: 1200px){
    /*title*/
    #title{
        background-size: cover;
        background-position: center center;
    }
    #title h1{
        font-size: 3rem;
    }
    #title h2{
        font-size: 3rem;
    }
    /*products*/
    #products .container{
        min-height: 100vh;
    }
    #products{
       margin-top: px;
    }
    #products .product-item{
        width: 400px;
    }
    #products .product-items{
        display: flex;
        flex-wrap: wrap;
        margin-left: 45px;
    }
    #products .product-item .imga img{
        width: 185px;
        height: 150px;
        padding-left: px;
    }
    #products h1{
        font-size: 2.2rem;
        font-weight: 400;
    }
    #products .product-item .imga h1{
        font-size: 1.4rem;
    }
    /*Supplements*/
    #supplements{
        min-height: vh;
        margin-top: px;
    }
    #supplements h1{
        font-size: 2.2rem;
        font-weight: 400;
    }
    #supplements ul li{
        font-size: 1.6rem;
    }
    /*gallery*/
    #gallery{
        min-height: vh;
    }
    #gallery h1{
        font-size: 2.2rem;
        font-weight: 400;
    }
    #gallery .gallery-items {
        display: flex;
        
    }
    #gallery .gallery-items img{
        height: 300px;
        width: 280px;
    }
    #gallery .gallery-items img{
        height: 300px;
        width: 280px;
    }
    #gallery .gallery-items img{
        height: 300px;
        width: 280px;
    }
    #gallery .gallery-items img{
        height: 300px;
        width: 280px;
    }
    /*cert*/
    #cert{
        height: vh;
        padding-bottom: px;
    }
    #cert img{
        height: 350px;
        width: 380px;
    }
    /*get*/
    #get{
        margin-bottom: px;
        min-height: vh;
    }
    #get h1{
        font-size: 2.2rem;
        font-weight: 400;
    }
    #get span input{
        font-size: 1rem;
    }
    #get textarea{
        font-size: 1rem;
    }
    #get button{
        font-size: larger;
        border-radius: 10px;
    }
    /*footer*/
    #footer{
        height: 50vh;
    }
    #footer .brand h1{
        font-size: 2rem;
        font-weight: 100;
    }
    #footer .container h2{
        font-size: 1.3rem;
        font-weight: 100;
    }
    #footer .container p{
        font-size: 0.8rem;
        font-weight: 100;
    }

/*End Media Query For Desktop*/
